.input {
  width: 100%;
  height: var(--input-height, 40px);

  padding-left: var(--input-padding-left, 20px);
  padding-right: var(--input-padding-right, 20px);

  border: 1px solid var(--input-border-color, #906fe9);
  border-radius: var(--input-border-radius, 2px);

  font-family: inherit;
  font-size: var(--input-font-size, 18px);
  line-height: var(--input-height, 60px);

  color: #3D3D3D;
  background-color: #fff;

  text-overflow: ellipsis;

  transition: border .2s;
  outline: none;
}

.textarea {
  display: block;

  width: 100%;
  height: var(--textarea-height, 300px);

  padding: var(--textarea-padding, 20px);

  padding-left: var(--textarea-padding-left, 20px);
  padding-top: var(--textarea-padding-top, 20px);
  padding-right: var(--textarea-padding-right, 20px);
  padding-bottom: var(--textarea-padding-bottom, 20px);

  border: 1px solid var(--textarea-border-color, #D3D8DB);

  color: #3D3D3D;
  font-size: 18px;
  line-height: 20px;

  background-color: #fff;

  border-radius: var(--textarea-border-radius, 2px);

  transition: border .2s;
  outline: none;
  resize: none;
}