// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Icons
@import '~material-icons';

// Variables
@import 'variables';

// Fields
@import 'fields';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@media (min-width: 1400px) {
  .container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1340px;
  }
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #f7f7f8;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  transition: .2s;

  &:hover {
    color: inherit;
    opacity: 0.8;
    text-decoration: none;
  }
}

ul, li {
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1600px;
  padding-left: 60px;
  padding-right: 60px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: block;
  width: 100%;
  padding: 0 20px;
  border: 1px solid transparent;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  font-size: 13px;
  font-weight: bold;
  line-height: 38px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  outline: none;
  border-radius: 2px;
  cursor: pointer;

  background-color: var(--accent-color);
  color: #fff;

  transition: .2s;

  &:hover,
  &:focus {
    background-image: linear-gradient(rgba(255, 255, 255, .04), rgba(255, 255, 255, .04));
  }

  &:active {
    background-image: linear-gradient(rgba(0, 0, 0, .04), rgba(0, 0, 0, .04));
  }

  &[disabled] {
    cursor: default;
    opacity: .4;
  }

  &--positive {
    --accent-color: #906fe9;
  }

  &--negative {
    --accent-color: #EB3D00FF;
  }

  &--neutral {
    --accent-color: #a0a0a0;
  }

  &--invert {
    background-color: transparent;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);

    &:hover, &:focus, &:active {
      background-color: var(--accent-color);
      color: #fff;
    }
  }

  &--white {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;

    &:active {
      background-color: #fff;
      background-image: none;
      color: var(--accent-color);
    }
  }
}

.notification-alert {
  padding: 10px;

  font-size: 16px;
  line-height: 24px;

  color: #ffffff;
  background: #44A4FC;
  border-left: 5px solid #187FE7;

  &.warn {
    background: #ffb648;
    border-left-color: #f48a06;
  }

  &.error {
    background: #E54D42;
    border-left-color: #B82E24;
  }

  &.success {
    background: #68CD86;
    border-left-color: #42A85F;
  }
}